* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .div1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-image: url(./image/pngtree-soft-crystal-blue-polygonal-background-picture-image_1419246.jpg);
    background-size: cover; */
  }

#card {
    width: 450px;
    margin-top: 135px;
    box-shadow:  5px 6px 5px 4px lightgrey;
   
  }
  .form-control{
    width: 300px;
  }
  .button-signup{
    background-color:#7952b3!important;
    color: white!important;
  }
  #formsignup{
    padding: 40px;
  }
  span.navbar-brand.mb-0.h1 {
    font-size: 29px;
}
span.navbar-brand.mb-0.h1 {
    padding-left: 50px;
}
a {
    margin-left: 9px;
}
 