* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

a.btn.btn-primary {
    margin-top: 13px;
}
.card{
    margin-left: 500px;
    margin-top: 15px;
}
img#dashBoardpp {
    height: 200px;
}
.navbar-nav{
    margin-left: 870px;
}
.card{
    padding: 5px;
}